li:first-child{
	color:powderblue;
}
li:nth-child(3){
	color:purple;
}
li:nth-child(2){
	color:red;
}
#udemy:link{
	color:teal;
}
#udemy:visited{
	color:red;
}
#udemy:hover{
	background-color: black;
	color:yellow;
}