h1 + p{
color:blue;
/** Every paragraph tag 'P' that is adjacent to 'H1' becomes blue. **/
}
ul >li{
color:green;
.
/** Every single list tag inside the unordered list becomes green color **/
}
p span{
color:yellow;
/** Every content residing inside the span tag of the p tag **/
}
input[type="text"]{
width:250px;
margin-bottom: 10px;
background-color: powderblue;
display: block;
}
input['placeholder']{
color: red;
}
button{
background-color: black;
color:yellow;
}
[class*=para]{
color:orange;
}
::placeholder{
color:brown;
}
