body{
	background-color: powderblue;
}
.This-is-class-selector{
	color:blue;
}
#this-is-id-selector{
	color:brown;
}
span{
	color:red;
}

h1{
	color:purple;
}
.class-h1{
	color:blue;
}
.class-h5{
	color:yellow;
}
#h5{
	color:white;
}